<!DOCTYPE html>
<meta charset="utf-8">

<html>

  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% for s in css %}
    <link href={{ url_for('static', filename=s) }} rel="stylesheet" media="screen">
    {% endfor %}


  </head>

  <body leftmargin="50">
  <img src={{url_for('static', filename="TabulaRazr_Logo.png")}}>
   <p>   
      <h1>Extract the real costs from Municipal Bonds</h1>
    <form action="" method=post enctype=multipart/form-data>
        <b>Browse .pdf or .txt file</b><br>
         <input type=file name=file>
         .. or paste URL [WIP] <input type=text name=url> <br>
          <b>Choose project</b><br>
          <select id="project" name="project">
            <option value="muni_bonds">Municipal Bonds</option>
            <option value="muni_bonds_edge_cases">[edge cases] Municipal Bonds</option>              
            <option value="">root</option>
        </select>
        <br>
         <input type=submit value=Upload>
    </form>
   </p>
  <hr>
  <br>
    <p>      
  <h1>Filter common data across entire project</h1>
      <form action="/project_analysis" method=post enctype=multipart/form-data>
          <b>Choose project and filter</b><br>
          <select id="project" name="project">
              <option value="muni_bonds">Municipal Bonds</option>
              <option value="muni_bonds_edge_cases">[edge cases] Municipal Bonds</option>              
              <option value="">root</option>
          </select>
          <select id="filter" name="filter">
              <option value="funds">Estimated Use and Sources of Funds</option>
              <option value="maturity_schedule">Maturity Schedule</option>              
          </select><br>          
          <input type="radio" name="use-cache" value="true" checked> Use cached results<br>
          <input type="radio" name="use-cache" value="false"> Re-analyze whole project<br>
          <br>
          <input type=submit value="Filter and Analyze">
      </form>
    
    </p>
  </body>
</html>
