<!DOCTYPE html>
<meta charset="utf-8">

<html>

  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% for s in css %}
    <link href={{ url_for('static', filename=s) }} rel="stylesheet" media="screen">
    {% endfor %}
  </head>

  <body leftmargin="50">

    {% for s in base_scripts %}
    <script src={{ url_for('static', filename=s) }}></script>
    {% endfor %}

    <a href="/"><img src={{url_for('static', filename="TabulaRazr_Logo.png")}}></a>
    <h3><a href="/">New File</a></h3>
      
    <h2>Viewing Table <a href="{{url_for('show_one_file', filename=filename, project=project)}}#{{table_id}}">@{{table_id}}</a> from <a href="{{url_for('show_one_file', filename=filename, project=project)}}">{{filename}}</a></h2>
 
    {% for s in page_scripts %}
    <script src={{url_for('static', filename=s)}}></script>
    {% endfor %}

    <p>
    {% for n in notices %}
    <br><b>{{n}}</b>
    {% endfor %}
    <p>
      <h3>Context Rows Above</h3>
      {% for l in top_lines %}
      <div><pre class = "meta-line"><a id="{{loop.index0+offset}}" color="grey">{{loop.index0+offset}}</a> {{l.decode('utf-8')}}</pre></div>
      {% endfor %}
      <h3><b>Table Rows and Lines</b></h3>
      {% for l in table_lines %}
      <div><pre class = "table-line"><a id="{{loop.index0+offset+top_lines|length}}">{{loop.index0+offset+top_lines|length}}</a> {{l.decode('utf-8')}}</pre></div>
      {% endfor %}
      <h3>Context Rows Below</h3>
      {% for l in bottom_lines %}
      <div><pre class = "meta-line"><a id="{{loop.index0+offset+top_lines|length+table_lines|length}}" color="grey">{{loop.index0+offset+top_lines|length+table_lines|length}}</a> {{l.decode('utf-8')}}</pre></div>
      {% endfor %}        

  </body>
</html>
